@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/bootstrap-reboot';
@import url('https://fonts.googleapis.com/css?family=Asap:400,500&display=swap');

body {
  font-family: 'Asap', sans-serif;
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2193b0,
    #6dd5ed
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  color: #222525;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.modal {
  .ReactModal__Overlay {
    background-color: rgba(80, 80, 80, 0.75) !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ReactModal__Content {
    width: 300px;
    min-height: 150px;
    position: relative !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: unset !important;
    bottom: unset !important;
    left: unset !important;
    right: unset !important;
  }
}
