@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap-reboot';
@import url('https://fonts.googleapis.com/css?family=Asap:400,500&display=swap');

.height-vh10 {
  height: 10vh;
}

.height-min-vh-80 {
  min-height: 80vh;
}

.text-small {
  font-size: 12px;
}

body {
  font-family: 'Asap', sans-serif;
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2193b0,
    #6dd5ed
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  color: #222525;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #2193b0;
  &:hover {
    color: #6dd5ed;
  }
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 18px;
}

.btn-facebook {
  color: white;
  background-color: #3c5a99;
  &:hover {
    color: white;
  }
}

.btn-google {
  color: white;
  background-color: #db4437;
  &:hover {
    color: white;
  }
}
